{{define "content"}}
    <div class="container">
        <div class="reading-list">
            <div ng-include="'templates/list.html'"></div>
        </div>
    </div>

    <script>
        var CONSTANTS = {
            MAXURLLEN: {{.Constants.MAXURLLEN}},
            MAXTITLELEN: {{.Constants.MAXTITLELEN}},
            MAXDESCLEN: {{.Constants.MAXDESCLEN}}
        };
    </script>
{{end}}
