{{define "content"}}
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>{{.SiteData.SiteName}}</h1>
                        <p>{{.SiteData.SiteSlogan}}</p>
                        <p>
                            <a class="btn btn-lg btn-success"
                               href="{{.LoginURL}}">
                               Login or sign up
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.carousel -->

    <div class="container">
        <div class="featurette">
            <p class="col-lg-8 col-lg-offset-2 lead">
                Ever started reading a great blog post but never finished
                because your cat wanted to be let out? With
                {{.SiteData.SiteName}} you can save your internet reading
                material to read at a later and more convenient time for you.
            </p>
        </div>

        <div class="row features">
            <div class="col-lg-6">
                <h2>
                    <span class="glyphicon glyphicon-asterisk"></span>
                    <p>View and update your list anytime</p>
                </h2>
                <p>
                    {{.SiteData.SiteName}} is hosted on the cloud so
                    you can login anytime, from anywhere, using your Google
                    account to view and update your reading list.
                </p>
            </div>
            <div class="col-lg-6">
                <h2>
                    <span class="glyphicon glyphicon-asterisk"></span>
                    <p>Read from your favourite RSS reader</p>
                </h2>
                <p>
                    Your reading list can be accessed as an RSS feed so that
                    you can read your material through your favourite RSS
                    reader.
                </p>
            </div>
        </div>
    </div>

{{end}}
