
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar .glyphicon {
    margin-right: 5px;
    font-size: 12px;
}

.navbar .navbar-nav > li {
    margin-top: 10px;
}

.navbar .navbar-nav > li > button {
    margin-top: 5px;
    margin-left: 5px;
}

.navbar .navbar-nav > li > a {
    margin-top: -10px;
}

.navbar .navbar-nav > li .visible-xs > a {
    margin-right: 25px;
    color: #999999;
}

.navbar .navbar-nav > li .visible-xs > a:hover {
    color: #ffffff;
    text-decoration: none;
}

/* The CSS on .modal and .modal-open are to prevent the vertical scroll bar
 * from appearing and shifting the page to the left by 15px.
 * https://github.com/twbs/bootstrap/issues/9855
 */
.modal {
    overflow-y: auto;
}

.modal-open, .modal-open .navbar-fixed-top {
    margin-right: 0 !important;
}

.settings-modal .checkbox {
    border: 1px solid #cccccc;
}

.settings-modal .checkbox.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.settings-modal .checkbox:focus {
    outline: 0px;
}

.settings-modal .form-control[readonly] {
    background-color: #ffffff;
}

.settings-modal .form-control[disabled] {
    background-color: #cfcfcf;
}

.settings-modal .alert {
    text-align: center;
    margin-top: 20px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 60px;

    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    margin-top: -90px;
}

.carousel .item {
    height: 700px;
    background: #fff url('../img/landing.jpg') no-repeat;
    background-position-y: -100px;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    top: 300px;
}

/* Bump up size of carousel content */
.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}


/* Featurettes
------------------------- */

.features {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.features p {
    margin-top: 20px;
}

.featurette {
    overflow: hidden;
}

.featurette p {
    text-align: center;
}


/* READELAY STYLES
-------------------------------------------------- */

.divider {
    margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

.readelay-icon {
    height: 30px;
    width: 30px;
}

.reading-list {
    margin-top: 50px;
}

.reading-list .reading-item {
    margin-top: 20px;
}

.reading-list .reading-item .actions button {
    text-decoration: none;
}

.reading-list .reading-item .glyphicon-link {
    color: #405c40;
    font-size: 15px;
}

.item-form {
    margin-top: 10px;
    margin-bottom: 30px;
}

.item-form .form-horizontal {
    margin-top: 15px;
}

.item-form .glyphicon-plus {
    font-size: 13px;
}

.item-form.well {
    background-color: #cfe6cf;
}

.form-error {
    text-align: center;
}

.terms {
    margin-top: 50px;
}

.loader {
    margin-top: 5px;
}

.no-items {
    margin-top: 5px;
    padding: 15px;
    background-color: #ffffff;
    border-style: dashed;
    border-width: 3px;
}

.no-items h4 {
    margin-top: 15px;
    text-align: center;
}

.no-items .glyphicon {
    font-size: 15px;
    margin-right: 8px;
}

.no-items .link {
    color: #468847;
    text-decoration: none;
}

.readlist-nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.readlist-nav li a {
    margin-top: 30px;
    color: #468847;
    text-align: center;
}

.readlist-nav li a:hover {
    background-color: #cfe6cf;
}

.readlist-nav li a .glyphicon {
    font-size: 18px;
    margin-right: 8px;
}

.readlist-nav li.active a {
    background-color: #356635;
    color: #ffffff;
}

.readlist-nav li.active a:hover {
    background-color: #356635;
    color: #ffffff;
}

.readlist-nav li.active a:focus {
    background-color: #356635;
    color: #ffffff;
}

.list.tab-content {
    padding-left: 0;
}
