<div class="row">
    <div class="item-form add-read-item well col-xs-12">
        <form novalidate name="item_form" class="form-horizontal">
            <fieldset>
                <div class="form-group"
                     ng-class="{'has-error': item_form.url.$dirty &&
                                             item_form.url.$invalid}">
                    <label for="url" class="col-xs-2 control-label hidden-xs">
                        <span class="glyphicon glyphicon-plus"></span>
                        Link
                    </label>
                    <label for="url" class="col-xs-2 control-label visible-xs">
                        Link
                    </label>
                    <div class="col-xs-10 col-sm-9">
                        <input type="url" class="form-control" name="url"
                            placeholder="{{!fetched ?
                                'Paste URL then click Fetch to add item' :
                                'Paste URL'}}"
                            ng-model="new_item.URL" focus-input
                            required ng-maxlength="{{constants.MAXURLLEN}}">
                        <span class="help-block"
                              ng-show="item_form.url.$dirty &&
                                       item_form.url.$error.required">
                            <small>Can't be empty.</small>
                        </span>
                        <span class="help-block"
                              ng-show="item_form.url.$dirty &&
                                       item_form.url.$error.maxlength">
                            <small>Must be at most {{constants.MAXURLLEN}}
                            characters.</small>
                        </span>
                        <span class="help-block"
                              ng-show="item_form.url.$dirty &&
                                       item_form.url.$error.url">
                            <small>Must be a valid URL.</small>
                        </span>
                    </div>
                </div>
                <div class="form-group"
                     ng-show="fetched"
                     ng-class="{'has-error': item_form.title.$dirty &&
                                             item_form.title.$invalid}">
                    <label for="title" class="col-xs-2 control-label">
                        Title
                    </label>
                    <div class="col-xs-10 col-sm-9">
                        <input type="text" class="form-control" name="title"
                            placeholder="Enter a title"
                            ng-model="new_item.Title"
                            required ng-maxlength="{{constants.MAXTITLELEN}}">
                        <span class="help-block"
                              ng-show="item_form.title.$dirty &&
                                       item_form.title.$error.required">
                            <small>Can't be empty.</small>
                        </span>
                        <span class="help-block"
                              ng-show="item_form.title.$dirty &&
                                       item_form.title.$error.maxlength">
                            <small>Must be at most {{constants.MAXTITLELEN}}
                            characters.</small>
                        </span>
                    </div>
                </div>
                <div class="form-group"
                     ng-show="fetched"
                     ng-class="{'has-error': item_form.description.$dirty &&
                                             item_form.description.$invalid}">
                    <label for="description" class="col-xs-2 control-label">
                        Details
                    </label>
                    <div class="col-xs-10 col-sm-9">
                        <textarea type="text" class="form-control"
                            name="description" rows="5"
                            placeholder="Enter a description"
                            ng-model="new_item.Description"
                            ng-maxlength="{{constants.MAXDESCLEN}}">
                        </textarea>
                        <span class="help-block"
                              ng-show="item_form.description.$dirty &&
                                       item_form.description.$error.maxlength">
                            <small>Must be at most {{constants.MAXDESCLEN}}
                            characters.</small>
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-hide="submitting || fetched">
                    <label class="col-xs-2 control-label"></label>
                    <div class="col-xs-10">
                        <button type="submit" class="btn btn-success submit"
                            ng-click="fetch(new_item.URL)">
                            Fetch
                        </button>
                    </div>
                </div>
                <div class="form-group controls" ng-hide="submitting || !fetched">
                    <label for="url" class="col-xs-2 control-label"></label>
                    <div class="col-xs-10">
                        <button type="submit" class="btn btn-success submit"
                            ng-click="add(new_item, item_form)">
                            Add Item
                        </button>
                        <button class="btn btn-default cancel"
                            ng-click="reset(item_form)">
                            Cancel
                        </button>
                    </div>
                </div>
            </fieldset>
            <div class="col-xs-12 loader" ng-show="submitting">
                <center>
                    <img src="img/loader.gif"/>
                </center>
            </div>
        </form>
    </div>
</div>
