<div id="item_error" class="row" ng-controller="ItemErrorCtrl">
    <div class="alert alert-danger form-error col-xs-12" ng-show="message">
        <button type="button" class="close" aria-hidden="true"
            ng-click="close()">
            &times;
        </button>
        <strong>:-(</strong>
        <span class="message">{{message}}</span>
    </div>
</div>
