<table class="table table-bordered table-hover items">
    <tr class="reading-item" ng-repeat="item in items">
        <td>
            <h4>
                <span class="glyphicon glyphicon-link"></span>
                <a id="url" href="{{item.URL}}" target="_blank">
                    <span id="title">{{item.Title}}</span>
                </a>
                <div class="actions pull-right">
                    <button class="btn btn-link mark-read read-action"
                            tooltip="Mark as read" ng-hide="item.IsRead"
                            ng-click="toggle(item, $index)">
                        <span class="glyphicon glyphicon-ok-sign"></span>
                    </button>
                    <button class="btn btn-link mark-unread read-action"
                            tooltip="Mark as unread" ng-show="item.IsRead"
                            ng-click="toggle(item, $index)">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                    <button class="btn btn-link delete"
                            tooltip="Delete item"
                            ng-click="delete(item, $index)">
                        <span class="glyphicon glyphicon-fire"></span>
                    </button>
                </div>
            </h4>
            <p id="time" class="text-success">
                {{item.Time | date:'medium'}}
            </p>
            <p id="description" class="description">
                {{item.Description}}
            </p>
        </td>
    </tr>
</table>
