<div ng-controller="ListCtrl">
    <div ng-include="'templates/add_item_form.html'"></div>
    <div ng-include="'templates/item_error.html'"></div>

    <div class="row">
        <form novalidate name="search_form" class="form-horizontal">
            <div class="col-xs-2"></div>
            <div class="col-xs-7">
                <input type="text" class="form-control" name="search"
                placeholder="Search reading list" ng-model='search_query'
                ng-change="search_change()">
            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-success submit"
                ng-click="search()">
                    <span class="glyphicon glyphicon-search"></span>
                    Search
                </button>
            </div>
        </form>
    </div>

    <div class="row">
        <ul id="read_list_nav" class="nav nav-pills readlist-nav">
            <li class="to-read active">
                <a href="#to_read" data-toggle="pill"><h4>
                    <span class="glyphicon glyphicon-th-list"></span>
                    <strong>Reading</strong>
                    <span ng-show="unread_items.length">
                        ({{unread_items.length}})
                    </span>
                </h4></a>
            </li>
            <li class="marked-read">
                <a href="#marked_read" data-toggle="pill"><h4>
                    <span class="glyphicon glyphicon-ok"></span>
                    <strong>Read</strong>
                    <span ng-show="read_items.length">
                        ({{read_items.length}})
                    </span>
                </h4></a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="list tab-content">
            <div id="to_read" class="tab-pane active">
                <div class="alert alert-success no-items col-xs-12"
                     ng-hide="unread_items.length">
                    <h4 ng-hide="search_query">
                        <span class="glyphicon glyphicon-plus"></span>
                        <a href="#" class="link" ng-click="focus_add()">
                            Add new reading items
                        </a>
                    </h4>
                    <h4 ng-show="search_query">
                        No reading items matched search query
                    </h4>
                </div>
                <reading-list items=unread_items toggle=toggle_read_state
                    delete=delete></reading-list>
            </div>

            <div id="marked_read" class="tab-pane">
                <div class="alert alert-success no-items col-xs-12"
                     ng-hide="read_items.length">
                    <h4 ng-hide="search_query">
                        <span class="glyphicon glyphicon-ok"></span>
                        Nothing marked as read
                    </h4>
                    <h4 ng-show="search_query">
                        No reading items matched search query
                    </h4>
                </div>
                <reading-list items=read_items toggle=toggle_read_state
                    delete=delete></reading-list>
            </div>
        </div>
    </div>
</div>
