<div class="settings-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">RSS Settings</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label for="rss_publish" class="col-xs-3 control-label">
                        Publish RSS
                    </label>
                    <div class="col-xs-9">
                        <button type="button" class="btn btn-default btn-sm checkbox"
                            ng-model="settings.PublishRSS" btn-checkbox>
                            <span class="glyphicon"
                                ng-class="{
                                    'glyphicon-ok': settings.PublishRSS,
                                    'glyphicon-remove': !settings.PublishRSS
                                }"></span>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rss_link" class="col-xs-3 control-label">
                        RSS Link &nbsp;
                        <a href="/rss/?id={{settings.RSSID}}" target="_blank">
                            <span class="glyphicon glyphicon-share"></span>
                        </a>
                    </label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control"
                               id="rss_link" name="rss-link"
                               ng-model="settings.RSSURL"
                               ng-disabled="!settings.PublishRSS"
                               readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rss_title" class="col-xs-3 control-label">
                        RSS Title &nbsp;
                    </label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control"
                               id="rss_title" name="rss-title"
                               ng-model="settings.RSSTitle"
                               ng-disabled="!settings.PublishRSS">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="save()">
            Save
        </button>
        <button class="btn btn-warning" ng-click="cancel()">
            Cancel
        </button>
        <div class="alert alert-danger settings-error" ng-show="messages.error">
            <strong>:-(</strong> <span class="message">{{messages.error}}</span>
        </div>
        <div class="alert alert-success settings-success" ng-show="messages.success">
            <strong>:-)</strong> <span class="message">{{messages.success}}</span>
        </div>
    </div>
</div>
