{{define "content"}}
<div class="container">
    <div class="terms">
        <h3 class="text-success">Terms of Service</h3>

        <p>If you are using this service, then you are agreeing to some terms.
        You agree that we as the service provider are not obligated to provide
        this service or continue to store your data. We'll do our best to
        abide by our privacy policy, but we are not responsible for any data
        loss or disclosure. You agree not to use the service to store illegal
        content. We reserve the right to delete any or all content associated
        with your account.</p>

        <h3 class="text-success">Privacy Policy</h3>

        <p>The data you provide this service will be accessible by you, and
        anybody you share your account’s RSS feed URL with. This means that if
        you enter the account’s RSS feed URL into a feed reader, all current
        and future data you provide this service will be viewable by the feed
        reader, and we are not responsible for what they do with it. We will
        not knowingly share your data with a third party, other than for the
        purposes of storing it in our server’s database, which is hosted on a
        third party server.</p>
    </div>
</div>
{{end}}
