<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{.SiteData.SiteName}} - {{.SiteData.SiteSlogan}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Styles -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/readelay.css" rel="stylesheet">
    </head>

    <body ng-app="readelayApp">

        <div class="navbar navbar-inverse navbar-fixed-top readelay-nav">
            <div class="container">
                <div class="navbar-header col-xs-6">
                    <a class="navbar-brand project" href="/">
                        <img class="readelay-icon" src="/img/readelay.png"></img>
                        {{.SiteData.SiteName}}
                    </a>
                </div>
                <ul class="nav navbar-nav pull-right">
                    {{if .UserName}}
                        <li ng-controller="SettingsCtrl">
                            <button type="button" class="btn btn-default
                                btn-sm dropdown-toggle hidden-xs"
                                ng-click="open()">
                                <span class="glyphicon glyphicon-cog"></span>
                                RSS
                            </button>
                            <div class="visible-xs">
                                <a href="#" ng-click="open()">RSS</a>
                                <a href="/logout">Logout</a>
                            </div>
                        </li>
                        <li class="dropdown hidden-xs">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                                    data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                {{.UserName}} &nbsp;&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu user-dropdown" role="menu">
                                <li>
                                    <a href="/logout">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {{else}}
                        <li>
                            <a href="{{.LoginURL}}">Login</a>
                        </li>
                    {{end}}
                </ul>
            </div>
        </div>


        {{template "content" .}}

        <!-- FOOTER -->
        <div class="container">
            <hr class="divider">
            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>
                    &copy; 2013 Shanika Kuruppu &middot;
                    <a href="/terms" target="_blank">Terms &amp; Privacy</a> &middot;
                    <a href="https://bitbucket.org/skuruppu/readelay"
                       target="_blank">
                        Source Code
                    </a> &middot;
                    <a href="https://bitbucket.org/skuruppu/readelay/issues"
                       target="_blank">
                        Report Issues
                    </a>
                </p>
            </footer>
        </div>

        <!-- JavaScript -->
        <script src="js/jquery-2.0.3.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        {{if .UserName}}
            <script src="js/angular.min.js"></script>
            <script src="js/angular-resource.min.js"></script>
            <script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
            <script src="js/readelay.js"></script>
        {{end}}
    </body>
</html>
